.productsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  margin: 0 auto;
  justify-content: center;
}

.container {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Prosto One", cursive, sans-serif;
  color: #09113a;
  margin: 30px;
}

@media (min-width: 600px) {
  .productsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container {
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}
