.container {
  position: fixed;
  width: 100%;
  top: 2.8rem;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem;
  height: 1.5625rem; 
  transition: background-color 0.3s ease-in-out;
}

.scrolled {
  background-color: #e75a7c;
}

@media (min-width: 620px) {
  .container {
    display: none;
  }
}