.header {
  background-color: #f9f9f9;
  padding: 0.5rem 1rem;
  height: 2.8rem;
  display: flex;
  border-bottom: 1px solid #e6e5e5;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}

.iconsContainer {
  display: none;
}

@media (min-width: 580px) and (max-width: 750px) {
  .header {
    height: 3.5rem;
    padding: 1.875rem 1.5rem;
  }

  .navImage {
    height: 2rem;
    width: 2rem;
  }
}

@media (min-width: 750px) {
  .header {
    height: 4rem;
    padding: 1rem;
  }

  .iconsContainer {
    display: flex;
    align-items: center;
  }

  .hamburguerContainer {
    display: none;
  }

  .icon {
    margin: 0.4rem;
    height: 1.2rem;
    width: 1.2rem;
  }
}

@media (min-width: 900px) {
  .header {
    height: 4.5rem;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (min-width: 1250px) {
  .header {
    height: 5rem;
    padding: 1.875rem 4.5rem;
  }

  .icon {
    margin: 1.125rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}
