.sidebar {
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #f9f9f9;
  transition: right 0.3s;
  z-index: 110;
}

.sidebar.open {
  right: 0;
}

.closeContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  cursor: pointer;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebarSection {
  padding: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
