.postsContainer {
  padding: 2rem 1rem;
  background-color: #e2eff1;
}

.title {
  font-family: "Prosto One", cursive, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #09113a;
  text-align: center;
}

.postContainer {
  margin: 2rem 0;
  display: flex;
}

.image {
  width: 10.75rem;
  height: 17.0625rem;
}

.subTiltle {
  font-size: 1.25rem;
  color: #09113a;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.text {
  font-size: 0.75rem;
  color: #09113a;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.readMore {
  font-weight: 500;
  color: #e75a7c;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.readMore:hover{
  color: #c54d69;

}

.textContainer {
  margin-left: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 2.5rem;
  width: 14.6875rem;
  padding: 0.625rem 1.5rem;
  font-family: Montserrat, cursive, sans-serif;
  color: #09113a;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  border: 1px solid #09113a;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  line-height: 1.25rem;
  border-radius: 5px;
  transition: border-color 0.2s, color 0.3s, transform 0.3s; 
}

.button:hover {
  border-color: #0a224e;
  color: #0a224e;
  transform: scale(1.01);
}

.button:active {
  border-color: #08102a;
  color: #08102a;
  transform: scale(0.98); 
}

@media (min-width: 580px) and (max-width: 680px) {
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
  }

  .image {
    margin-left: 1rem;
  }

  .subTiltle {
    font-size: 1.35rem;
  }

  .text {
    font-size: 0.85rem;
  }
}

@media (min-width: 680px) {
  .textContainer {
    justify-content: flex-start;
    padding: 0 1.5rem;
    margin-right: 1rem;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  .image {
    margin-left: 2rem;
  }

  .subTiltle {
    font-size: 1.7rem;
  }

  .text {
    font-size: 1rem;
  }

  .readMore {
    font-size: 0.9rem;
  }
}

@media (min-width: 900px) {
  .blogssWrapper {
    display: flex;
    margin: 0.31rem;
  }

  .image {
    width: 8.679rem;
    height: 11.88rem;
  }
  .subTiltle {
    font-size: 1.6rem;
  }

  .textContainer {
    margin-right: 1.24rem;
  }

  .text {
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.4px;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  .button {
    display: none;
  }

  .postsContainer {
    padding: 1.6rem 0.8rem 0 0.8rem;
  }
}
@media (min-width: 1250px) {
  .blogssWrapper {
    margin: 1.875rem;
  }

  .image {
    width: 16.4375rem;
    height: 22.5rem;
  }

  .textContainer {
    margin-right: 1.55rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }

  .title {
    font-size: 2rem;
  }

  .button {
    display: none;
  }

  .postsContainer {
    padding: 2rem 1rem 0 1rem;
  }
}
